.ez-drag-layout-root {
  position: relative;
  height: 100%;
  .drag-holder {
    flex: 1;
    z-index: 999;
    border-radius: 10px;
    pointer-events: none;
    &.holder-use {
      background: repeating-linear-gradient(
        135deg,
        rgba(57, 181, 74, 0.3),
        rgba(57, 181, 74, 0.3) 10px,
        rgba(57, 181, 74, 0.2) 0,
        rgba(57, 181, 74, 0.2) 20px
      );
    }
    &.holder-dis {
      background: repeating-linear-gradient(
        135deg,
        rgba(211, 27, 27, 0.3),
        rgba(211, 27, 27, 0.3) 10px,
        rgba(211, 27, 27, 0.2) 0,
        rgba(211, 27, 27, 0.2) 20px
      );
    }
  }
  &.layout-flex {
    display: flex;
    flex-direction: var(--ez-flex-dir);
    justify-content: var(--ez-flex-main-align);
    align-items: var(--ez-flex-item-align);
    &.flex-dir-row {
      .ez-drag-layout-item:not(:first-child) {
        margin-left: var(--ez-flex-margin);
      }
    }
    &.flex-dir-column {
      .ez-drag-layout-item:not(:first-child) {
        margin-top: var(--ez-flex-margin);
      }
    }
  }
  &.layout-grid {
    display: grid;
    gap: var(--ez-grid-padd);
    grid-template-columns: repeat(var(--ez-grid-cols), 1fr);
    grid-template-rows: repeat(var(--ez-grid-rows), 1fr);
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      pointer-events: none;
      border-right: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
      background-size: var(--ez-grid-col-width) var(--ez-grid-row-height);
      background-image: linear-gradient(to right, #e0e0e0 1px, transparent 1px),
        linear-gradient(to bottom, #e0e0e0 1px, transparent 1px);
    }
  }
  &.dragging-on {
    .ez-drag-layout-item {
      pointer-events: none;
    }
    .drag-holder {
      display: block;
    }
  }
  &.dragging-off {
    .ez-drag-layout-item {
      pointer-events: auto;
    }
    .drag-holder {
      display: none;
    }
  }
}
