/*
 * @Author: Z.MingYu
 * @Date: 2024-05-06 08:21:50
 * @Description: 拖拽布局组件全局样式
 */

.ez-drag-layout-root {
  position: relative;
  height: 100%;
  overflow: hidden;
  pointer-events: auto;
  > .ez-drag-layout-item {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    > .ez-drag-resize-handle {
      position: absolute;
      width: 20px;
      height: 20px;
      right: 0;
      bottom: 0;
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAG0SURBVFhH7ZY7LARBHIcvhIRQeCaiEVoNFY2OTqlWKrQ6pUSiInqiIoLoqCQKtQKRKIi3ROERkSDx+H5zs3d7Zx+3bu9ykvuSLzO/zd7sPzuzM5cok0U3Vie7hkLnDPrwG2dNKnw2VNpWvGMnruJpEXJpEjhHMRBpDcRN6PjNuI6DJqXZQ/0w2yusx1zxGz+UL/Qq4BrrMFa85sj90GNswb8SuAb6UQ+ZMymN8/Bz2x7hX4rwGz+FBtUcDZmUximgAy9t/wCbMAp+44fiFCBUhBafU0QjxorXHN3iXbJryH4Tm/his58PqB2wHX3x+071+bQluyncRURRv6lBT6J+pzuoQRexVRcC6MV91P3juhAHr6gBG0wKZxR1/4JJlgrbOkQ5C2pt+2jbMFSwyNi83AVoDRzijElFwl2AzugN3DbpH6D5lLkygrp/zSRLPmsgKk6xOtxSlNdAPtygXmvg9upiEnX/vEkW979ioTXwhJ8mBWf1e3AAn1GnnbZoL4dxArUHTOMJ/iL7vA7LGmwXdS1XpzAD9xt4wy5cwbMc8gcuof6gVOE9Xvi4hWO4jGVKiUTiB5dut+hDd0IEAAAAAElFTkSuQmCC') rgba(255,255,255, .5);
      background-size: contain;
      cursor: nwse-resize;
      opacity: .5;
      display: none;
    }
    &:hover > .ez-drag-resize-handle {
      display: block;
    }
  }
  > .holder-mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    pointer-events: none;
    border: 2px dashed rgba(0,0,0, .3);
  }
  > .holder-area {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 998;
    pointer-events: none;
    &.holder-able {
      background: repeating-linear-gradient(
        135deg,
        rgba(57, 181, 74, 0.2),
        rgba(57, 181, 74, 0.2) 10px,
        rgba(57, 181, 74, 0.1) 0,
        rgba(57, 181, 74, 0.1) 20px
      );
    }
    &.holder-deny {
      background: repeating-linear-gradient(
        135deg,
        rgba(211, 27, 27, 0.2),
        rgba(211, 27, 27, 0.2) 10px,
        rgba(211, 27, 27, 0.1) 0,
        rgba(211, 27, 27, 0.1) 20px
      );
    }
  }
  &.layout-normal {
    > .ez-drag-layout-item:not(:first-child) {
      margin-top: var(--ez-item-margin);
    }
  }
  &.layout-flex {
    display: flex;
    flex-direction: var(--ez-flex-dir);
    justify-content: var(--ez-flex-main-align);
    align-items: var(--ez-flex-item-align);
    &.flex-dir-row {
      > .ez-drag-layout-item:not(:first-child) {
        margin-left: var(--ez-item-margin);
      }
    }
    &.flex-dir-column {
      > .ez-drag-layout-item:not(:first-child) {
        margin-top: var(--ez-item-margin);
      }
    }
  }
  &.layout-grid {
    display: grid;
    gap: var(--ez-grid-gap);
    grid-template-columns: repeat(var(--ez-grid-cols), 1fr);
    grid-template-rows: repeat(var(--ez-grid-rows), 1fr);
    background: rgba(255,255,255, .7);
    &.grid-lines-on::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      pointer-events: none;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee;
      background-size: var(--ez-grid-col-width) var(--ez-grid-row-height);
      background-image: linear-gradient(to right, #eee 1px, transparent 1px),
        linear-gradient(to bottom, #eee 1px, transparent 1px);
    }
  }
  &.dragging-on {
    > .ez-drag-layout-item {
      pointer-events: none;
    }
    > .holder-mask, > .holder-area {
      display: block;
    }
  }
  &.dragging-off {
    > .ez-drag-layout-item {
      pointer-events: auto;
    }
    > .holder-mask, > .holder-area {
      display: none;
    }
  }
}
