
.paged {
  cursor: default;
  display: flex;
  user-select: none;
  .header-wrap {
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #0080eb;
    color: #fff;
    overflow: hidden;
    z-index: 9;
  }
  .side-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    &.side-right-wrap {
      .side-header-wrap {
        justify-content: end;
        > * {
          margin-right: 1rem;
        }
      }
    }
    .side-body-wrap {
      flex: 1;
      display: flex;
      flex-direction: column;
      position: relative;
      .comp-box-container {
        flex: 1;
        padding-top: 9px;
      }
    }
    .side-box {
      overflow: hidden;
      .side-box-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .header {
          height: 40px;
          min-height: 40px;
          padding: 0 .6rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #F2F2F2;
          border-bottom: 1px solid #CECECE;
          .tool-box {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            overflow: hidden;
            .svg-icon {
              cursor: pointer;
              &:not(:first-child) {
                margin-left: 0.2rem;
              }
            }
          }
        }
        .body {
          flex: 1;
          padding: .5rem;
          overflow: auto;
          font-size: .9rem;
        }
      }
    }
  }
  .main-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    .main-header-wrap {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .main-header-inner {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: rgba(255,255,255, .7);
        .right-tools-bar {
          display: flex;
          align-items: center;
          > * {
            margin-right: 1rem;
          }
        }
      }
    }
    .main-body-wrap {
      flex: 1;
      background-color: #e2edf6;
      box-shadow: 0 0 3px #647582 inset;
      margin: 0 9px;
    }
  }
  .router-link-active {
    text-decoration: none;
  }
}
