
.paged {
  cursor: default;
  display: flex;
  user-select: none;
  .header-wrap {
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #0080eb;
    color: #fff;
    overflow: hidden;
    z-index: 9;
  }
  .side-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    &.side-left-wrap {
      .side-body-wrap {
      }
    }
    &.side-right-wrap {
      .side-header-wrap {
        justify-content: end;
        > * {
          margin-right: 1rem;
        }
      }
      .side-body-wrap {
      }
    }
    .side-body-wrap {
      flex: 1;
    }
  }
  .main-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    .main-header-wrap {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .main-header-inner {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: rgba(255,255,255, .7);
        .right-tools-bar {
          display: flex;
          align-items: center;
          > * {
            margin-right: 1rem;
          }
        }
      }
    }
    .main-body-wrap {
      flex: 1;
      background-color: #e2edf6;
    }
  }
  .router-link-active {
    text-decoration: none;
  }
}
