body {
  height: 100%;
}
.container-wrap {
  height: 100%;
  display: flex;
  .src-wrap {
    width: 200px;
    height: 100%;
    border-right: 1px solid #999;
    padding: 0 15px;
    .item-wrap {
      padding: 20px 0;
      text-align: center;
      background-color: #cccccc;
      font-size: 14px;
      cursor: default;
    }
  }
  .ins-wraps {
    flex: 1;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .ins-wrap {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      .wrap-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        line-height: 30px;
        h5 {
          margin: 0;
        }
      }
    }
  }
}